  @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

  
  *{
    margin: 0;
    padding: 0;
  }
  

body{
  font-family: 'Lora', serif;
  box-sizing: border-box !important;
  position: relative;
  background: #B24592;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F15F79, #B24592);
	background: linear-gradient(to right, #F15F79, #B24592);
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
}

p{
  color: var(--fontColor);
}